body{
    background-color: blanchedalmond;
}

.navbar{
    background-color: blanchedalmond !important;
    font-size: 1.5em;
}

.row{
    margin-top: 3em;
}

h1{
    font-size: 3em;
}

h2{
    text-align: center;
}