nav {
  
  background-image: linear-gradient(rgb(58, 136, 5), rgb(58, 136, 5));
}

a {
  color: rgb(0, 36, 153);
}

body {
  /*
    
        background-image: linear-gradient( rgb(47, 0, 255), rgb(255, 0, 106));
    
        */
}
.container{
  margin: 10px 6% 6%;
}