nav {
  background-image: linear-gradient(rgb(58, 136, 5), rgb(58, 136, 5));
}

a {
  color: rgb(0, 36, 153);
}

body {
  background-color: rgb(184, 184, 147);
}
.container {
  margin: 10px 6% 6%;
}
h1 {
  text-align: center;
}

.card {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(58, 136, 5);
}

p {
  text-align: justify;
}
