nav {
  /*background-image: linear-gradient (rgb(58, 136, 5), rgb(58, 136, 5));*/
}

a {
  color: rgb(0, 36, 153);
}

body {
  background-color: rgba(39, 6, 116, 0.493);
}

.card {
  width: 100%;
  border: 5px solid rgb(58, 136, 5);
}

.text {
  height: 3em;
}

.blogText {
  margin: 0px 20% 20%;
  text-align: justify;
}

.blog3 {
  margin: 0px 10% 0% 10%;
  text-align: justify;
}
